body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #38033a;
}

.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0%;
  height: 10%;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 0px solid #dbf304;
  padding: 0.5% 0.5% 0.5% 0.5%;
  flex: 1;
}

.heading-image {
  width: 10%;
  height: 80%;
}

.heading-content {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
}

.button {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1% 1% 1% 0.5%;
}

.about-button {
  font-size: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  background: #000000;
  font-weight: 400;
  padding: 7px 7px;
  border: 2% solid #ccc;
  border-radius: 3px;
  cursor: default;
}

.play {
  background-color: #dbf304;
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.help-info {
  align-self: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.centerBody {
  width: 40%;
  height: 100%;
}

.chanceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstChance,
.currentChance {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  color: #dbf304;
  padding: 0.5% 0.5%;
  text-align: center;
  margin: 1% 0 0 1%;
  border: 2px solid #ffffff;
  width: 60%;
  height: 10%;
  visibility: visible;
}

.firstChance {
  margin-top: 3%;
  /* transition-duration: 3s; */
}

.currentChance {
  margin-bottom: 1%;
}
/* 
.firstChance {
  animation: opacity 3s ease-in-out;
  -webkit-animation: opacity 3s ease-in-out;
  -moz-animation: opacity 3s ease-in-out;
  -o-animation: opacity 3s ease-in-out;
  -ms-animation: opacity 3s ease-in-out;
} */

.play-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 80%;
  margin: 3% 0 3% 0;
}

.block {
  background-color: #ffffff;
  border: #000000;
  margin: 3%;
  align-self: center;
  height: 20%;
  width: 93%;
  transition: ease-in;
}
.player-info {
  align-self: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.player-name {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  color: #ffffff;
  min-width: 140px;
  padding: 9px 9px;
  margin: 3px;
  border: 2px solid #ffffff;
}

.player-sign {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  color: #ffffff;
  min-width: 140px;
  padding: 9px 9px;
  margin: 3px;
  border: 2px solid #ffffff;
}

.computer-sign {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  color: #ffffff;
  min-width: 140px;
  padding: 9px 9px;
  margin: 3px;
  border: 2px solid #ffffff;
}

.gameSituation {
  width: 40%;
  height: 40%;
  display: none;
  position: absolute;
  margin: 11% 20%;
  padding: 5% 10% 5% 10%;
  color: #ffd000;
  font-family: sans-serif;
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  transform: translate(-50% -50%);
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 500%;
  font-weight: 700;
  letter-spacing: 8px;
  animation: text 3s 1;
}
@keyframes text {
  0% {
    color: black;
  }
  30% {
    letter-spacing: 16px;
  }
  85% {
    letter-spacing: 20%;
  }
}

.new-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.restart,
.new-user {
  font-size: 100%;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  background: #dbf304;
  font-weight: 400;
  min-width: 25%;
  padding: 1% 1%;
  border: 5% solid #000000;
  border-radius: 10%;
  cursor: default;
  /*margin-top: 70px;*/
}
.restart {
  margin-right: 1%;
}

.new-user {
  margin-left: 1%;
}

.footer {
  background-color: #dbf304;
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  text-align: center;
  width: 100%;
  margin-top: 2%;
  position: fixed;
}

svg {
  filter: drop-shadow(0.5px 0.5px 0px #111) drop-shadow(-0.5px 0.5px 0px #111)
    drop-shadow(0.5px -0.5px 0px #111) drop-shadow(-1px -1px 0px #111);
}

.cross {
  stroke: #dbf304;
  stroke-width: 8px;
  stroke-dasharray: 226.274169921875px;
  stroke-dashoffset: -226.274169921875px;
  stroke-linejoin: round;
  fill: transparent;
  transition-duration: 0.5s;
}

.cross-shown {
  stroke: #dbf304;
  stroke-width: 8px;
  border-color: #000000;
  border-width: 12em;
  stroke-dasharray: 226.274169921875px;
  stroke-dashoffset: 0px;
  fill: transparent;
  transition-duration: 0.5s;
}

.circle {
  stroke: #dbf304;
  stroke-width: 8px;
  stroke-linejoin: round;
  stroke-dasharray: 263.93072509765625px;
  stroke-dashoffset: -263.93072509765625px;
  fill: transparent;
  transition-duration: 0.5s;
}

.circle-shown {
  stroke: #dbf304;
  stroke-width: 8px;
  stroke-dasharray: 263.93072509765625px;
  stroke-dashoffset: 0px;
  fill: transparent;
}

.modal-creators {
  background-color: rgba(0, 0, 5, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.creators-contents {
  height: 500px;
  width: 800px;
  background-color: #000000ef;
  text-align: left;
  padding: 10px;
  position: relative;
  border-radius: 4px;
}

.creators-heading {
  text-align: center;
}

.creators-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: rgb(255, 255, 255);
  transform: rotate(45deg);
  cursor: pointer;
}

.creators {
  padding: 2%;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.creator {
  align-self: left;
  display: inline;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.creator-img {
  border-radius: 50%;
  max-width: 100px;
  padding: 10px;
}

.modal-help {
  background-color: rgba(0, 0, 5, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: left;
  align-items: top;
  padding: 3%;
}

.help-contents {
  height: 70%;
  width: 30%;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)),
    url("../assets/helpbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  position: relative;
  border-radius: 4%;
  word-wrap: break-word;
  margin: 5% 0%;
}

.help-close {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 200%;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.rules {
  padding: 10%;
  color: #e6ff05e0;
  font-size: 150%;
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  body {
    width: 800px;
  }
  .modal-help {
    height: 120%;
  }
  .help-contents {
    height: 300px;
    width: 300px;
  }
  .rules {
    font-size: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .modal-creators {
    align-items: top;
  }
  .creators-contents {
    top: 0px;
  }
}
