.content {
  display: none;
  flex-direction: column;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(220, 121, 240) 0%,
    rgba(109, 9, 121, 1) 35%,
    rgba(45, 1, 62, 1) 100%
  );
  top: 0px;
  height: 120%;
  width: 100%;
  padding: 0 0 0 0;
  border-width: 10%;
  border-radius: 3%;
  border-color: #000000;
  border-style: double;
  text-align: center;
  align-items: center;
}

.header-content {
  font-family: "Comic Sans MS";
}

.glow-header {
  font-size: 250%;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow-header 1s ease-in-out infinite alternate;
  -moz-animation: glow-header 1s ease-in-out infinite alternate;
  animation: glow-header 1s ease-in-out infinite alternate;
}

@keyframes glow-header {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #38033a, 0 0 60px #38033a, 0 0 70px #38033a;
  }

  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #3b0819, 0 0 40px #3b0819,
      0 0 50px #3b0819, 0 0 60px #c7128a, 0 0 70px #c7128a, 0 0 80px #c7128a;
  }
}

.options {
  display: flex;
  flex-direction: row;
  padding: 0%;
  justify-content: center;
}

.choice-button {
  background-color: #dbf304;
  border-radius: 20%;
  border-width: 5%;
  color: white;
  padding: 20% 60%;
  text-shadow: 3% 3% 2% #000000;
  margin: 4% 0% 40% 0%;
  text-align: center;
  font-size: 300%;
  position: relative;
}

.choice-button:hover {
  transform: scale(1.5);
  color: #38033a;
}

#cross {
  margin-right: 30%;
}
#circle {
  margin-left: 40%;
}

.continue-button {
  background-color: #b869dde3;
  border-radius: 22%;
  color: rgb(0, 0, 0);
  margin-top: 2%;
  padding: 1% 2%;
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 200%;
}

.continue-button:hover {
  transform: scale(1.1);
}

.showChoiceLabel {
  padding-bottom: 1%;
  text-shadow: 2% 2% 5% #000000;
  color: #ffffff;
  font-size: 300%;
}

.label {
  border-width: 5%;
  border: #000000;
}

.error-output {
  position: relative;
  color: red;
  font-size: 150%;
  align-content: center;
}

input[type="text"] {
  background: linear-gradient(
    90deg,
    rgb(220, 121, 240) 0%,
    rgba(109, 9, 121, 1) 35%,
    rgba(45, 1, 62, 1) 100%
  );
  padding: 1%;
  border: 2% solid rgb(0, 0, 0);
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 120%;
  font-weight: 800;
  color: white;
}

input[type="text"]::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

input[type="text"]:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 130%;
    height: 150%;
  }
}
@media screen and (max-height: 731px) {
  .content {
    height: 900px;
  }
}
